<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row" style="padding: 10px;">
    <div class="text-muted col-sm" style="line-height: 20px;">
      Wasserman Lab <br>
      UBC-CMMT Room 3109 <br>
      950 West 28th Avenue <br>
      Vancouver BC V5Z 4H4 <br>
      Canada </div>
      <div class="col-sm">
        <img src="{{site.baseurl}}/assets/img/ubc.png" width="10%">
        <img src="{{site.baseurl}}/assets/img/cmmt2.png" width="24%">
        <img src="{{site.baseurl}}/assets/img/bcch.png" width="20%">
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->

<footer class="footer-area footer--light"></footer>
<div class="mini-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright-text">
          <p> Contact Us 
            <a href="https://wassermanlab.github.io/contact/">here</a> || Related Sites:
            <a href="https://www.bcchr.ca/">BC Children's Hospital</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>