<head>
  <title>{{page.title}} | Wasserman Lab</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | relative_url }}" >
    <link rel="stylesheet" href="{{ "/assets/css/custom_css.css" | relative_url }}" >
    <script src="https://kit.fontawesome.com/ccce1b2863.js" crossorigin="anonymous"></script>
    {%- feed_meta -%}
    
  </head>