---
layout: default
---
<!--Header-->
<header class="header" role="banner">
  <head> 
    <title>Contact Page</title> 
</head> 
<div class="container text-black">
  <h1>Contact Us</h1>
</div>
</header>

<div class="padding-fix">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1>Contact</h1>
        <div>
          <p><b>Principal investigator:</b></p>
          {% assign paragraphs = page.pi | newline_to_br | split: '<br />' %}
          {% for paragraph in paragraphs %}<p>{{ paragraph }}</p>{% endfor %}
        </div>
        <div>
          <p><b>For administrative questions:</b></p>
          {% assign paragraphs = page.admin | newline_to_br | split: '<br />' %}
          {% for paragraph in paragraphs %}<p>{{ paragraph }}</p>{% endfor %}
        </div>
        <div>
          <p><b>Mailing address:</b></p>
          {% assign paragraphs = page.mailing | newline_to_br | split: '<br />' %}
          {% for paragraph in paragraphs %}<p>{{ paragraph }}</p>{% endfor %}
        </div>
      </div>
      <div class="col-sm">
        <img src="{{site.baseurl}}/assets/img/{{page.image}}" class="img-fluid">
      </div>
    </div>
  </div>
</div>

