---
layout: default

---

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="home">

<div class="jumbotron bg-image">
  <div class="container text-white">
  <h1>Welcome to the Wasserman Lab!</h1>
  <p style="font-weight: 500">Headed by Dr. Wyeth Wasserman, professor in Medical Genetics at the University of British Columbia and 
    Executive Director of Research at BC Children’s Hospital Research Institute. The lab is in Vancouver, 
    British Columbia where the ocean meets the mountains.</p>
  <p><a class="btn btn-primary btn-lg" href="/research/" role="button">Learn more</a></p>

</div>

    <!--page text-->
</div>
<div class="container">
    <div class="page-header">
      {% for i in site.index %}
    <p style="font-size: x-large; font-weight: 500">{content} </p>
</div>