[---
layout: default
---

<div class="padding-fix">
  <div class="container">
    <h1>Join Us!</h1>
    <p>{{page.join}}</p>
    <h2>Postdoctoral fellows</h2>
    <p>{{page.postdocs}}</p>
    <h2>Doctoral students</h2>
    <p>{{page.phds}}</p>
    <h2>Masters students</h2>
    <p>{{page.masters}}</p>
    <h2>Undergraduate students</h2>
    <p>{{page.undergrads}}</p>
    <h2>Other positions</h2>
    <p>{{page.others}}</p>
    <h2>Notice for Potential Applicants</h2>
    <p>{{page.notice}}</p>

</div>