---
layout: default
---
<!--Header-->
<header class="header" role="banner">
  <head> 
    <title>Papers Page</title> 
</head> 
<div class="container text-black">
  <h1>Publications</h1>
</div>
</header>

<div class="padding-fix">
<div class="container">
  <p>A larger selection of publications is available on
    <a target="_blank" style= "color: blue;" href="https://pubmed.ncbi.nlm.nih.gov/?term=Wasserman+WW">Pubmed</a>
    <br><br>
  </p>
<div class="rss-item">
  <!--automated RSS feed of pubmed publications under Wasserman WW-->
  <script src="//rss.bloople.net/?url=https%3A%2F%2Fpubmed.ncbi.nlm.nih.gov%2Frss%2Fsearch%2F1n5QzcCTN-gY7nElbh0ezAoaafW0Q1GKUZp2xahx5BHJtgngi7%2F%3Flimit%3D5%26utm_campaign%3Dpubmed-2%26fc%3D20200825153811&showtitle=false&type=js"></script>
</div>
</div>
</div>


<!-- static table entry of selected publications
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Year</th>
        <th scope="col">Paper</th>
        <th scope="col">PubMed ID</th>
      </tr>
    </thead>
    <tbody>
      {% for pub in site.data.papers %}
      <tr>
        <td>{{pub.year}}</td>
        <td><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{pub.pubmed}}">{{pub.paper}}</a> <br> {{pub.description}} <br> {{pub.details}}</td>
        <td><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{pub.pubmed}}">{{pub.pubmed}}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  -->