---
layout: default
---
<!--Header-->
<header class="header" role="banner">
  <head> 
    <title>Papers Page</title> 
</head> 
<div class="container text-black">
  <h1>Publications</h1>
</div>
</header>

<div class="padding-fix">
  <div class="container">
    <h1>Papers</h1>
    <p> 
      {{content}}
    </p>
    {% for pub in site.data.papers %}
      {{forloop.rindex}}.<a href="https://www.ncbi.nlm.nih.gov{{pub.URL}}"> <b>{{pub.Description}}</b> 
      {{pub.Title}} {{pub.Details}} </a>
      <br><br>
    {% endfor %}
  </div>
</div>