---
layout: default
---
<!--Header-->
<header class="header" role="banner">
  <head> 
    <title>Research Page</title> 
</head> 
<div class="container">
  <h1>Research</h1>
</div>
</header>

<!--
<div class=research>
  <div class="padding-fix">
    <div class="container">
          {% for r in site.research_sums %}
          <div class=row style="padding-top: 20px;">
            <div class="col-sm">
              <h2>{{r.heading}}</h2>
              <p>{{r.content}}</p>
            </div>
            <div class="col-sm-4">
              <img src="{{site.baseurl}}/assets/img/research/{{r.image}}" class="img-fluid align-content-around">
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>
-->

  <div class="padding-fix">
    <div class="container">
          {% for r in site.research_sums %}
              <h2>{{r.heading}}</h2>
              <img src="{{site.baseurl}}/assets/img/research/{{r.image}}" class="research img-fluid" >
              <p>{{r.content}}</p>
          {% endfor %}
      </div>
    </div>
  </div>


