---
layout: default
---
<!--Header-->
<header class="header" role="banner">
  <head> 
    <title>Software Page</title> 
</head> 
<div class="container text-black">
  <h1>Software</h1>
</div>
</header>

<div class="padding-fix">
  <div class="container">
    <h1>Software</h1>
    <p>The source code for much of the newer Wasserman Lab software is available on 
      <a href="https://github.com/wassermanlab">GitHub</a>
    </p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">PubMed ID</th>
        </tr>
      </thead>
      <tbody>
        {% for s in site.data.software %}
        {% if s.retired == "No" %}
        <tr>
          <td><a href={{s.hyperlink}}>{{s.name}}</a></td>
          <td>{{s.desc}}</td>
          <td><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{s.pubmed}}">{{s.pubmed}}</a></td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>

    <h1>Retired Software</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">PubMed ID</th>
        </tr>
      </thead>
      <tbody>
        {% for s in site.data.software %}
        {% if s.retired == "Yes" %}
        <tr>
          <td><a href={{s.hyperlink}}>{{s.name}}</a></td>
          <td>{{s.desc}}</td>
          <td><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{s.pubmed}}">{{s.pubmed}}</a></td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>


  </div>
</div>