---
layout: default
---
<!--Header-->
<header class="header" role="banner">
  <head> 
    <title>Team Page</title> 
</head> 
<div class="container text-black">
  <h1>Our Team</h1>
</div>
</header>

<!-- Plain Header 
<div class="banner" style="padding:15px; text-align:center ; background-color: cadetblue; height: 20vh;">
  <div class="banner-content">
  <h1>Our Team</h1>
  </div>
  </div>
-->



<div class="team padding-fix">
  <div class="container">
    <h3>Principal Investigator</h3><br>
    <div class="row">
      {% for team_member in site.team_members %}
      {% if team_member.category == "pis" %}
      <div class="col-sm">
        <div class="card border-0">
          <a href="{{site.baseurl}}{{team_member.permalink}}" style="width:200px; height:250px">
            <img src="{{site.baseurl}}/assets/img/{{team_member.image}}" class="card-img-top" style="width:200px; height:250px">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{team_member.name}}, {{team_member.titles}}</h5>
            <p class="card-text">{{team_member.position}}</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <br><br>

    <h2>Postdoctoral Fellows</h2><br>
    <div class="row">
      {% for team_member in site.team_members %}
      {% if team_member.category == "postdocs" %}
      <div class="col-sm">
        <div class="card border-0">
          <a href="{{site.baseurl}}{{team_member.permalink}}" style="width:200px; height:250px">
            <img src="{{site.baseurl}}/assets/img/{{team_member.image}}" class="card-img-top" style="width:200px; height:250px">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{team_member.name}}, {{team_member.titles}}</h5>
            <p class="card-text">{{team_member.position}}</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <br><br>

    <h2>Doctoral Students</h2><br>
    <div class="row">
      {% for team_member in site.team_members %}
      {% if team_member.category == "phds" %}
      <div class="col-sm">
        <div class="card border-0">
          <a href="{{site.baseurl}}{{team_member.permalink}}" style="width:200px; height:250px">
            <img src="{{site.baseurl}}/assets/img/{{team_member.image}}" class="card-img-top" style="width:200px; height:250px">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{team_member.name}}, {{team_member.titles}}</h5>
            <p class="card-text">{{team_member.position}}</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <br><br>

    <h2>Masters Students</h2><br>
    <div class="row">
      {% for team_member in site.team_members %}
      {% if team_member.category == "masters" %}
      <div class="col-sm">
        <div class="card border-0">
          <a href="{{site.baseurl}}{{team_member.permalink}}" style="width:200px; height:250px">
            <img src="{{site.baseurl}}/assets/img/{{team_member.image}}" class="card-img-top" style="width:200px; height:250px">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{team_member.name}}, {{team_member.titles}}</h5>
            <p class="card-text">{{team_member.position}}</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <br><br>

    <h2>Undergraduate Students</h2><br>
    <div class="row">
      {% for team_member in site.team_members %}
      {% if team_member.category == "undergrads" %}
      <div class="col-sm">
        <div class="card border-0">
          <a href="{{site.baseurl}}{{team_member.permalink}}" style="width:200px; height:250px">
            <img src="{{site.baseurl}}/assets/img/{{team_member.image}}" class="card-img-top" style="width:200px; height:250px">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{team_member.name}}, {{team_member.titles}}</h5>
            <p class="card-text">{{team_member.position}}</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <br><br>

    <h2>Research Staff</h2><br>
    <div class="row">
      {% for team_member in site.team_members %}
      {% if team_member.category == "staff" %}
      <div class="col-sm">
        <div class="card border-0">
          <a href="{{site.baseurl}}{{team_member.permalink}}" style="width:200px; height:250px">
            <img src="{{site.baseurl}}/assets/img/{{team_member.image}}" class="card-img-top" style="width:200px; height:250px">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{team_member.name}}, {{team_member.titles}}</h5>
            <p class="card-text">{{team_member.position}}</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <br><br>

    <h2>Alumni</h2><br>
    <div class="accordion" id="accordionExample">
      <div class="card"> <!-- beginning collapse -->
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
              data-target="#postdocCollapse" aria-expanded="true" aria-controls="postdocCollapse">
              Postdoctoral Fellows
            </button>
          </h2>
        </div>

        <div id="postdocCollapse" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Years in Group</th>
                  <th scope="col">Present Position</th>
                </tr>
              </thead>
              {% for alum in site.data.alumni %}
              {% if alum.category == "postdocs" %}
              <tr>
                <td>{{alum.name}}</td>
                <td>{{alum.years_in_lab}}</td>
                <td>{{alum.current_pos}}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </table>
          </div>
        </div>
      </div> <!-- end collapse -->

      <div class="card"> <!-- begining collapse -->
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
              data-target="#phdCollapse" aria-expanded="true" aria-controls="phdCollapse">
              PhDs
            </button>
          </h2>
        </div>

        <div id="phdCollapse" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Years in Group</th>
                  <th scope="col">Present Position</th>
                </tr>
              </thead>
              {% for alum in site.data.alumni %}
              {% if alum.category == "phds" %}
              <tr>
                <td>{{alum.name}}</td>
                <td>{{alum.years_in_lab}}</td>
                <td>{{alum.current_pos}}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </table>
          </div>
        </div>
      </div> <!-- end collapse -->

      <div class="card"> <!-- begining collapse -->
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
              data-target="#mastersCollapse" aria-expanded="true" aria-controls="mastersCollapse">
              Masters
            </button>
          </h2>
        </div>

        <div id="mastersCollapse" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Years in Group</th>
                  <th scope="col">Present Position</th>
                </tr>
              </thead>
              {% for alum in site.data.alumni %}
              {% if alum.category == "masters" %}
              <tr>
                <td>{{alum.name}}</td>
                <td>{{alum.years_in_lab}}</td>
                <td>{{alum.current_pos}}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </table>
          </div>
        </div>
      </div> <!-- end collapse -->

      <div class="card"> <!-- begining collapse -->
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
              data-target="#undergradsCollapse" aria-expanded="true" aria-controls="undergradsCollapse">
              Undergraduates
            </button>
          </h2>
        </div>

        <div id="undergradsCollapse" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Years in Group</th>
                  <th scope="col">Present Position</th>
                </tr>
              </thead>
              {% for alum in site.data.alumni %}
              {% if alum.category == "undergrads" %}
              <tr>
                <td>{{alum.name}}</td>
                <td>{{alum.years_in_lab}}</td>
                <td>{{alum.current_pos}}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </table>
          </div>
        </div>
      </div> <!-- end collapse -->

      <div class="card"> <!-- begining collapse -->
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
              data-target="#staffCollapse" aria-expanded="true" aria-controls="staffCollapse">
              Staff
            </button>
          </h2>
        </div>

        <div id="staffCollapse" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Years in Group</th>
                  <th scope="col">Present Position</th>
                </tr>
              </thead>
              {% for alum in site.data.alumni %}
              {% if alum.category == "staff" %}
              <tr>
                <td>{{alum.name}}</td>
                <td>{{alum.years_in_lab}}</td>
                <td>{{alum.current_pos}}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </table>
          </div>
        </div>
      </div> <!-- end collapse -->
    </div>
  </div>
</div>